# ===============================
# Core Python Data Stack
# ===============================
numpy>=1.26.0
pandas>=2.1.0

# ===============================
# Machine Learning
# ===============================
scikit-learn>=1.5.2
xgboost>=1.7.7
lightgbm>=4.0.0
imbalanced-learn>=0.13.11
shap>=0.42.1
joblib>=1.3.2

# ===============================
# Visualization
# ===============================
matplotlib>=3.8.0
seaborn>=0.12.2
plotly>=6.1.0

# ===============================
# Backend (FastAPI)
# ===============================
fastapi>=0.110.0
uvicorn>=0.29.0
pydantic>=2.6.0

# ===============================
# Frontend (Streamlit)
# ===============================
streamlit>=1.26.0
requests>=2.31.0
